<br><br>

<div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: Mr. Y</td></tr>
             <tr><td>Student ID: 464535</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>63</td>
                <td>A-</td>
             </tr>

              <tr>
                <td>English</td>
                <td>21</td>
                <td>F</td>
             </tr>

              <tr>
                <td>Math</td>
                <td>67</td>
                <td>A-</td>
             </tr>

        </table>

     </div>


<br><br>

<div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: Mr.Z</td></tr>
             <tr><td>Student ID: 576535</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>65</td>
                <td>A-</td>
             </tr>

              <tr>
                <td>English</td>
                <td>84</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Math</td>
                <td>85</td>
                <td>A+</td>
             </tr>

        </table>

     </div>


<br><br>
<div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: Mr.X</td></tr>
             <tr><td>Student ID: 575323</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>67</td>
                <td>A-</td>
             </tr>

              <tr>
                <td>English</td>
                <td>87</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Math</td>
                <td>63</td>
                <td>A-</td>
             </tr>

        </table>

     </div>


<br><br>
<div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: Mr A</td></tr>
             <tr><td>Student ID: 544743</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>78</td>
                <td>A</td>
             </tr>

              <tr>
                <td>English</td>
                <td>90</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Math</td>
                <td>99</td>
                <td>A+</td>
             </tr>

        </table>

     </div>


<br><br>
<div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: Ms. B</td></tr>
             <tr><td>Student ID: 65474</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>65</td>
                <td>A-</td>
             </tr>

              <tr>
                <td>English</td>
                <td>93</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Math</td>
                <td>77</td>
                <td>A</td>
             </tr>

        </table>

     </div>


<br><br>
<div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: Rahim</td></tr>
             <tr><td>Student ID: 433535</td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td>88</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>English</td>
                <td>87</td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Math</td>
                <td>99</td>
                <td>A+</td>
             </tr>

        </table>

     </div>


<br><br>
<div class='container'>

        <table style='border: solid black; 2px'>

             <tr><td>Student Name: </td></tr>
             <tr><td>Student ID: </td></tr>
        </table>

        <br>

        <table >
             <thead>
               <th> Subject </th>
               <th> Marks </th>
               <th> Grade </th>
             </thead>

             <tr>
                <td>Bangla</td>
                <td></td>
                <td>A+</td>
             </tr>

              <tr>
                <td>English</td>
                <td></td>
                <td>A+</td>
             </tr>

              <tr>
                <td>Math</td>
                <td></td>
                <td>A+</td>
             </tr>

        </table>

     </div>


